{% extends '::base.html.twig' %}

{% block body -%}
	<div class='container'>
		<div class='row'>
    <h1>Peserta list</h1>

    <table class="table table-bordered table-hover">
        <thead >
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Origin</th>
                <th>Tempat/Tgl Lahir</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% set pg = app.request.query.get('page') %}
		{% if pg == 1 or pg == null %}
			{% set i = 1 %}
		{% else %}
			{% set i = 25 *( pg-1 ) + 1 %}
		{% endif %}
        {% for entity in entities %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ entity.timestamp|date('Y-m-d') }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.origin }}</td>
                <td>{{ entity.pod }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>
			<div class="text-center">
								<h4>{{ knp_pagination_render(entities) }}</h4>
			</div>
		</div>
	</div>
{% endblock %}
