{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Peserta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Origin</th>
                <th>Pod</th>
                <th>Bod</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Present</th>
                <th>Print</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('peserta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.origin }}</td>
                <td>{{ entity.pod }}</td>
                <td>{{ entity.bod }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.present }}</td>
                <td>{{ entity.print }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('peserta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('peserta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('peserta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
